body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.keywords button {
  margin: 5px;
  padding: 8px 15px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.keywords button:hover {
  background-color: #777;
}
.size-control {
  margin-top: 10px;
}
.size-control label {
  color: #fff;
  margin-right: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.gallery img {
  margin: 10px;
  width: 150px; /* ডিফল্ট সাইজ */
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #777;
}

.keywords button.selected {
  background-color: #007bff;
  color: white;
}
